In [2]:
import sys
import csv
import pandas as pd
import seaborn as sns
import matplotlib.pylab as plt

In [14]:
# Get file and read into dataframe
filename = "C:/lsc2020/lsc2020-metadata/lsc2020-metadata.csv"
df = pd.read_csv(filename)
df.head(3)

,minute_id,utc_time,local_time,timezone,lat,lon,semantic_name,elevation,speed,heart,calories,activity_type,steps
0,20150223_0000,UTC_2015-02-23_00:00,2015-02-23_00:00,Europe/Dublin,53.3892,-6.15827,Home,NaN,NaN,NaN,1.2062,NaN,NaN
1,20150223_0001,UTC_2015-02-23_00:01,2015-02-23_00:01,Europe/Dublin,53.3892,-6.15827,Home,NaN,NaN,NaN,1.2062,NaN,NaN
2,20150223_0002,UTC_2015-02-23_00:02,2015-02-23_00:02,Europe/Dublin,53.3892,-6.15827,Home,NaN,NaN,NaN,1.2062,NaN,NaN

In [15]:
df.dtypes

minute_id         object
utc_time          object
local_time        object
timezone          object
lat              float64
lon              float64
semantic_name     object
elevation        float64
speed            float64
heart            float64
calories         float64
activity_type     object
steps            float64
dtype: object