In [2]:
import sys
import csv
import pandas as pd
import seaborn as sns
import matplotlib.pylab as plt

In [3]:
# Get file and read into dataframe
filename = "C:/lsc2020/lsc2020-metadata/lsc2020-metadata.csv"
df = pd.read_csv(filename)
df.head(3)

,minute_id,utc_time,local_time,timezone,lat,lon,semantic_name,elevation,speed,heart,calories,activity_type,steps
0,20150223_0000,UTC_2015-02-23_00:00,2015-02-23_00:00,Europe/Dublin,53.3892,-6.15827,Home,NaN,NaN,NaN,1.2062,NaN,NaN
1,20150223_0001,UTC_2015-02-23_00:01,2015-02-23_00:01,Europe/Dublin,53.3892,-6.15827,Home,NaN,NaN,NaN,1.2062,NaN,NaN
2,20150223_0002,UTC_2015-02-23_00:02,2015-02-23_00:02,Europe/Dublin,53.3892,-6.15827,Home,NaN,NaN,NaN,1.2062,NaN,NaN

In [4]:
df.dtypes

minute_id         object
utc_time          object
local_time        object
timezone          object
lat              float64
lon              float64
semantic_name     object
elevation        float64
speed            float64
heart            float64
calories         float64
activity_type     object
steps            float64
dtype: object

In [5]:
timezones = df['timezone'].unique()
timezones

array(['Europe/Dublin', 'Europe/London', 'Europe/Brussels',
       'Europe/Berlin', 'Europe/Prague', 'Europe/Warsaw', 'Europe/Minsk',
       'Europe/Moscow', 'Asia/Shanghai', 'Europe/Stockholm',
       'Europe/Oslo', 'Europe/Amsterdam', 'Europe/Istanbul'], dtype=object)

In [6]:
semanticNames = df['semantic_name'].unique()
semanticNames

array(['Home', nan, 'Work', 'Verbena Avenue',
       'Dublin City University (DCU)', 'Science Gallery Café',
       'The Helix', 'DCU School of Nursing', 'Thunder Road Café',
       'The Westin', 'Brown Thomas', 'Costa Coffee', 'Starbucks',
       'Dunnes Stores',
       'Dublin Airport (DUB) - Aerfort Bhaile Átha Cliath', 'Bayside',
       'Lidl', "O'Brien Centre for Science",
       'Howth Junction Business Centre',
       'Hilan Korean & Chinese Restaurant', 'Dublin Airport T2 Car Park',
       'Car Rental Village', "McDonald's",
       'Sheffield University - Portobello Centre', 'Novotel',
       'Sheffield Tap', 'Café Rouge', 'The Antiques Emporium',
       'Kinder Lodge', 'Devonshire Arms', 'Waterstones',
       'Manchester International Airport (MAN)', 'Web Summit HQ',
       'Pavilions Shopping Centre', 'Waterside ', "Eddie Rocket's",
       'Homebase', 'Power City', 'Rathdown Park', 'Caim Church',
       'The Sisters Home', 'Gate 212', 'London City Airport (LCY)',
       'Tenter Street Apartment ', 'Grange Tower Bridge Hotel',
       'Gate 303', 'Frankfurt Airport (FRA)',
       'Lufthansa Business Lounge Z', 'Gate Z66',
       'Modern Universe Business Plaza', '凯德龙之梦 | Cloud Nine Mall',
       'Dentistry.ie', "O'Briens Sandwhich Bar", 'Tesco Extra',
       'The Blanchardstown Centre', 'Starbucks Stillorgan',
       'Leopardstown Racecourse Pavilion', 'Leopardstown Racecourse',
       'Donaghmede Shopping Centre', "St. Brigid's Church",
       'Yamamori Izakaya Bar', 'The Henry Grattan',
       'Jervis Shopping Centre', 'Arnotts Department Store', 'B&Q',
       'Connolly Train Station', 'McDonalds', 'Omni Park Shopping Centre',
       'Dunnes Cornelscourt', 'Siam Thai, Dundrum Town Centre',
       'DCU Restaurant', 'Invent Cafe', 'Hotel Killarney', 'Ross Castle',
       'Tea & Tales', 'DAA Executive Lounge', 'Gate 110',
       'Stockholm Arlanda (ARN) International Airport',
       'SAS Gold Lounge Arlanda', 'Stockholm-Arlanda Airport Gate 10A',
       'Oslo - Gardermoen Norway International Airport',
       'Clarion Hotel & Congress Oslo Airport', 'SAS Domestic Lounge OSL',
       'Tromsø Lufthavn, Langnes (TOS)', 'Smarthotel', 'Rå Sushi Tromsø',
       'Realfagbygget', 'Forskningsparken i Tromsø',
       'SAS Businesslounge Tromsø Lufthavn',
       'Oslo Lufthavn Gardermoen, Gate 53', 'DCU Sports Complex',
       'The Black Sheep', 'Park Inn Radisson Hotel, Gardermoen',
       'Oslo Lufthavn (OSL)', 'Clarion Hotel The Edge',
       'Fjellheisen Cable Car Tromsø', 'Radisson Blu Hotel, Tromsoe',
       'MH-kafeen UIT', 'Gate 102', 'DCU Staff CarPark (Albert College)',
       'Science Gallery Trinity College Dublin',
       'Captain Americas Cookhouse & Bar', 'Grafton Street',
       'SuperValu, Killester', 'Ballsbridge Hotel',
       'Radisson Blu Royal Hotel, Dublin', 'Pho Ta',
       'Stillorgan, Co. Dublin',
       'Mc Donalds Liffey Valley Retail Park :)', "Lena's Tea Room",
       'Yeats Country Hotel Spa & Leisure Club',
       'Austies Bar and Restaurant', 'Quayside Shopping Centre',
       'Shells Sea Side Bakery Cafe', 'Sligo Retail Park',
       'The Golden Wok Chinese, Thai and Vietnamese Takeaway',
       'Liffey Valley Shopping Centre', 'Boots Liffey Valley',
       'Prezzo, Liffey Valley Center', 'Mc Donalds - Donaghmede',
       'Guinness Enterprise Centre,', 'Eddie Rockets Clare Hall', 'Avoca',
       'DCU Engineering Building', 'Leman Solicitors', "Angelina's",
       'DCU School of Computing', 'Dublin Airport',
       "Ann's Bakery and Restaurant",
       'The Morrison, a DoubleTree by Hilton Hotel',
       "Crabby Jo's Restaurant", "Grace O'Malley Drive", 'Steven An',
       'Permanent TSB', 'Howth', 'Airside Retail Park',
       'Airside retail park', 'Arisu Korean Restrant',
       'Smyths Toys Ireland', 'Fitzsimons Bar',
       'Clayton Hotel Ballsbridge', 'Pavlova Passion Bakery',
       'Marie Louise Tea Rooms', 'Howth Harbour', 'Port of Howth',
       "Woodie's DIY",
       "Embassy of  The People's Republic of China Visa & Consular Office",
       'Collins Park', 'Sandymount Hotel', "St Patrick's College, Dublin",
       'Greendale Shopping Centre', "O'Connors Cafe Bar & Restaurant",
       'Limerick City', 'Limerick Colbert railway station',
       'Thai Massage Rooms',
       'Madam Mok Asian Fusion Restaurant & Take Away',
       'Wanda Realm Wuhan', 'Wuhan University', 'Hanjie Steet',
       'East China Normal University',
       'Shanghai Pudong International airport', 'Regency Hotel',
       'Dentist Kilbarrack', 'Starbucks Rathmines', 'Jurys Inn',
       'Powerscourt Townhouse Centre', 'SOLE Seafood & Grill',
       'Georges Street Arcade'], dtype=object)

In [8]:
nullInTimezone = df['timezone'].str.contains('NULL').any()
nullInLocalTime = df['local_time'].str.contains('NULL').any()
print(nullInTimezone)
print(nullInLocalTime)

False
False